<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arc_mate_120ib">
  <xacro:arg name="prefix" default=""/>
  <xacro:include filename="$(find fanuc_robot_description)/urdf/arc_mate_120ib_macro.xacro"/>
  <link name="world"/>
  <xacro:arc_mate_120ib prefix="$(arg prefix)" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:arc_mate_120ib>
</robot>
