<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="cr_7ia_l">
  <xacro:arg name="prefix" default=""/>
  <xacro:include filename="$(find fanuc_robot_descriptions)/urdf/cr_7ia_l_macro.xacro"/>
  <link name="world"/>
  <xacro:cr_7ia_l prefix="$(arg prefix)" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:cr_7ia_l>
</robot>
