<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lr_mate_200id_4sh">
  <xacro:arg name="prefix" default=""/>
  <xacro:include filename="$(find fanuc_robot_descriptions)/urdf/lr_mate_200id_4sh_macro.xacro"/>
  <link name="world"/>
  <xacro:lr_mate_200id_4sh prefix="$(arg prefix)" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:lr_mate_200id_4sh>
</robot>
