<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="m_1ia_0_5s">
  <xacro:arg name="prefix" default=""/>
  <xacro:include filename="$(find fanuc_robot_descriptions)/urdf/m_1ia_0_5s_macro.xacro"/>
  <link name="world"/>
  <xacro:m_1ia_0_5s prefix="$(arg prefix)" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:m_1ia_0_5s>
</robot>
