<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="m_410ib_300">
  <xacro:arg name="prefix" default=""/>
  <xacro:include filename="$(find fanuc_robot_descriptions)/urdf/m_410ib_300_macro.xacro"/>
  <link name="world"/>
  <xacro:m_410ib_300 prefix="$(arg prefix)" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:m_410ib_300>
</robot>
