<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="p_250ib_lh">
  <xacro:arg name="prefix" default=""/>
  <xacro:include filename="$(find fanuc_robot_descriptions)/urdf/p_250ib_lh_macro.xacro"/>
  <link name="world"/>
  <xacro:p_250ib_lh prefix="$(arg prefix)" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:p_250ib_lh>
</robot>
