<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="p_50ib_10l">
  <xacro:arg name="prefix" default=""/>
  <xacro:include filename="$(find fanuc_robot_descriptions)/urdf/p_50ib_10l_macro.xacro"/>
  <link name="world"/>
  <xacro:p_50ib_10l prefix="$(arg prefix)" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:p_50ib_10l>
</robot>
