<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="r_2000ia_200fo">
  <xacro:arg name="prefix" default=""/>
  <xacro:include filename="$(find fanuc_robot_description)/urdf/r_2000ia_200fo_macro.xacro"/>
  <link name="world"/>
  <xacro:r_2000ia_200fo prefix="$(arg prefix)" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:r_2000ia_200fo>
</robot>
